	.dark-mode .container-fluid.content-color{
		background-color: rgb(70, 70, 70);
		color: rgb(255, 255, 255);
	}	
	.dark-mode .theme-button{
		background-color: rgb(70, 70, 70);
		color:rgb(255, 254, 254)
	}

	.dark-mode .theme-button{
		background-color: rgb(255, 255, 255);
		color:rgb(70, 70, 70);
	}	
	.dark-mode .nav ul li a{
		display:block;
		padding: 0.5em 1em;
		color:rgb(255, 255, 255);
	}
	nav ul{
		display:flex;
		list-style:none;
		color: rgb(255, 255, 255);
	}
	.dark-mode .button-list{
		background-color: rgb(70, 70, 70);
		
	}
	.dark-mode .card{
		background-color: rgb(70, 70, 70);
	}
	
	.dark-mode .table{
		background-color: rgb(70, 70, 70);
	}